<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>DAVID WEB API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
    <header></header>
    <main></main>
    <footer></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="assets/js/main.js"></script> -->
</body>
</html>
<header>
    <h1><a href="./">DAVID WEB API</a></h1>
    <p><a href="https://web-api-bydavid.herokuapp.com/">Click here for documentation</a></p>
</header>
